
.background{
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
    display: flex;
    align-items: center;
    h2{
        color: white;
        width: 27vw;
        font-size: 40px;
        margin-left: 150px;
    }
}

.section2{
    height: 85vh;
    div{
        height: 20vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            color: rgba(0, 86, 149, 1);
            margin-left: 60px;
        }
    }
}

.cards{
   
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
    div{
        width: 20%;
        height: 80%;
        background-color: rgba(1, 87, 148, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        img {
            height: 13.6vh;
            width: 6.5vw;
        }
        p{
            text-align: center;
            font-size: 1.2vw;
        }
    }
}

@media(max-width: 1000px){
  .cards{
    div{
        justify-content: space-evenly;
        height: 30vh;
    p{
        font-size: 1.2rem;
        width: 18vw;
    }
    img {
        height: 7vh;
        width: 10vw;
    }
   }
}
}

@media(max-width: 780px){
    .section2{
        
        height: 120vh;
        div{
            justify-content: center;
            h2{
                margin-left: 0;
            }
        }
    }

    .cards{
        height: auto;
        flex-wrap: wrap;
        gap: 20px;
        div{
            width: 230px;
            justify-content: space-evenly;
            height: 28vh;
            p{
                font-size: 18px;
                width: 28vw;
            }
            img{
                height: 7vh;  
                width: 10vw;             
            }
        }
    }
}

@media(max-width: 479px){
    .section2{
        height: 190vh;
        .cards{
            div{
                border: solid green;
                height: 16vh;
                width: 60vw;
                justify-content: space-evenly;
                p {
                    text-align: center;
                    width: 45vw;
                }
                img{
                    height: 6vh;  
                    width: 16vw;             
                }
            }
        }
    }
}