.section1 {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 16.4vh;
    background-color: #005695;
    color: #ffffff;
    align-items: center;
    .numero {
        p {
            font-size: 16px;
            padding-top: 2rem;
            padding-left: 5rem;
        }
    }
    nav {
        display: flex;
        width: 15%;
        justify-content: space-between;
        img {
            width: 1.8rem;
            height: 1.8em;
        }
    }
}

.section2 {
    display: flex;
    justify-content: center;
    background-color: #232020;
    color: #ffffff;
    height: 9.3vh;
    align-items: center;
}


@media(max-width: 1000px){
    .footer {
        .section1{
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            .numero {
                p {
                padding-top: 1rem;
                padding-left: 0;
                font-weight: 700;
                }
            }
            nav{
                width: 45%;
            }
        }
        .section2 {
            p {
                font-size: 12px;
                font-weight: 700;
                width: 60%;
                text-align: center;
            }
        }
    }
}